<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "me_profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Abdeslam</h1>
		<p>I specialize in web development ...</p>
		<p>I built This blog in Rails 4. You're actually on the demo application right now.</p>
	</div>
</div>